* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(200, 200, 200);
    transition: all .8s;
    color: #555;
    display: flex;
    flex-direction: column;
    transition: background 0.2s linear;
}

body.dark {
    transition: all .8s;
    background-color: rgb(40, 40, 40);
    color: #fff;
}

#corpo {
    display: flex;
    flex-direction: columns;
}

h2 {
    margin-top: 15%;
    text-align: center;
    font-family: Nunito, sans-serif;
}

label {
    font-family: Nunito, sans-serif;
}

#botao-theme {
    display: flex;
    margin-left: 48%;
    margin-top: 100px;
}

#containerForms {
    display: flex;
    padding: 20px;

    margin-top: 100px;
    margin-left: 38%;
}

form {
    display: fixed;
    background-color: #1c1c1ca2;
    color: white;
    justify-content: center;
    height: 410px;
    width: 410px;
    border: 4px solid transparent;
    border-radius: 10px;
    transition: all .8s;
}

.input-email {
    width: 250px;
    height: 30px;
    margin-left: 20%;
    margin-top: 10px;
    border-radius: 8px;
}

.input-senha {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20%;
    border-radius: 8px;
}

.botao-enviar {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    margin-left: 30%;
    cursor: pointer;
}

::placeholder {
    font-family: Nunito, sans-serif;
    ;
    color: rgb(40, 40, 40, 0.5);
    padding-left: 10px;
    font-size: 12px;
}

.esqueceu-senha {
    display: inline-block;
    margin-bottom: -20px;
    font-family: Nunito, sans-serif;
    text-decoration: none;
    font-size: 15px;
    margin-left: 35%;
    cursor: pointer;
    margin-top: 20px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);

}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

/*Classe que define como o estilo do form deve começar*/
.my-form {
    background-color: #1f1f1f;
}

/*Classe responsável por alterar a cor do container que contém o form*/
.active-theme-form {
    background-color: rgb(214, 214, 214);
}

/*Ajuste na cor da letra*/
h2, a {
    color: #f3f3f3;
}

/*Classe que dará ajuste nas lestras*/

.dark-theme-lyrics {
    color: #222222;
}